html, body{
    padding: 0%; margin: 0%;
}


/*  Botão  */
.bnt{
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: flex-end;
}
.bnt img{
    width: 217px;
    height: 93px;
    margin-right: 150px;
    cursor: pointer;
}

/* Apresentação  */
.apresenta{
    width: 100%;
    height: 370px;
    display: flex;
    justify-content: space-around;
}
.apresenta h1{
    display: flex;
    align-items: center;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    font-size: 48px;
}

/*  2 colunas  */
.total{
    display: flex;
}

.total hr{
    width: 4px;
    height: 3000px;
    background-color: #000;
}

/*  Coluna 1  */
.coluna1{
    width: 510px;
    height: 3000px;
}

.contato{
    width: 500px;
    height: 500px;
    margin-top: 50px;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.svg{
    width: 40px;
    height: 310px;
}
.svg img{
    margin-top: 40px;
}

.info{
    width: 400px;
    height: 310px;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

.info p{
    margin-top: 38px;
    margin-left: 20px;
}

.info a{
    text-decoration: none;
    color: #000;
}

/*  Sobre  */
.sobre{
    width: 480px;
    height: 300px;
    margin-left: 50px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.sobre h1{
    margin-left: 50px;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.sobre p{
    margin-left: 50px;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

/*  Coluna 2  */
.coluna2{
    width: 600px;
    height: 3000px;
}

/*  Objetivo  */

.obj{
    height: 150px;
    display: flex;
    justify-content: flex-start;
}

.obj h1{
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    font-size: 24px;
}

/*  Formação  */

.forma{
    width: 600px;
    height: 340px;
   
}

.forma h1{
    display: flex;
    justify-content: flex-start;
    width: 500;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    font-size: 24px;
}
.forma p{
    display: flex;
    margin-left: 50px;
    width: 500px;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.forma hr{
    width: 700px;
    height: 2px;
    margin-left: -150px;
    border-radius: 25%;
    background-color: #000;
}

/* Experiência */

.expe{
    width: 600px;
    height: 340px;
   
}

.expe h1{
    display: flex;
    justify-content: flex-start;
    width: 500;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.expe p{
    display: flex;
    margin-left: 50px;
    width: 500px;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.expe hr{
    display: flex;
    justify-content: center;
    width: 150px;
    height: 2px;
    border-radius: 25%;
    background-color: #000;
}

/*  Soft skills  */

.soft{
    margin-top: 25%;
    width: 600px;
    height: 300px;
}

.soft h1{
    display: flex;
    justify-content: flex-start;
    width: 500;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.soft p{
    display: flex;
    margin-left: 50px;
    width: 500px;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.soft hr{
    width: 700px;
    height: 2px;
    margin-left: -150px;
    border-radius: 25%;
    background-color: #000;
}

/*  Hard skills  */

.hard{
    width: 600px;
    height: 500px;
}

.hard h1{
    display: flex;
    justify-content: flex-start;
    width: 500;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.hard p{
    display: flex;
    width: 500px;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin: 0%;
}

.hard img{
    margin-top: 50px;
}

.hard hr{
    margin: 100px 0;
    width: 700px;
    height: 2px;
    margin-left: -150px;
    border-radius: 25%;
    background-color: #000;
}

/*  Footer  */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    width: 100%;
    height: 150px;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    font-size: 24px;
}


/* @Media print  */
@media print{
    html, body{
        p{
            font-size: 18px;
        }
    }
    

    .bnt{
        display: none;
    }

    .contato{
        width: 600px;
        margin-left: -50px;
        height: 300px;
    }

    .troca{
        font-size: 0;
    }

    .troca::after{
        content: "(11) 980181541";
        font-size: 24px !important;
    }


    .link{
        display: none;
    }

    .sobre{
        margin-left: -10px;
        height: 300px;
    }
    

    .q{
        height: 1100px;
    }

    .coluna2{
        margin-right: 20px;
    }

    footer{
       display: none;
    }
    
    .obj{
        justify-content: center;
        height: 80px;
    }

    .forma{
        height: 200px;
       
    }

    .forma h1{
        justify-content: center;
    }
    .forma p{
        justify-content: center;
    }

    .expe h1{
        justify-content: center;
    }
    .expe p{
        justify-content: center;
    }

    .soft h1{
        justify-content: center;
    }
    .soft p{
        justify-content: center;
    }

    .hard h1{
        margin-top: 80px;
        justify-content: center;
    }

    .hard p{
        justify-content: center;
    }

    .figma{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 600px;
    }
    .figma p{
        margin-left: 130px;
    }

    .photo{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 600px;
    }
    .photo p{
        margin-left: 130px;
    }

    .html{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 600px;
    }
    .html p{
        margin-left: 130px;
    }

    .css{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 600px;
    }
    .css p{
        margin-left: 130px;
    }

    .javascript{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 600px;
    }
    .javascript p{
        margin-left: 130px;
    }

    hr{
        display: none;
    }

    .hard .none{
        display: none;
    }
    
}


/* @Media responsivo  */

@media (max-width: 1400px) {
    .coluna2 hr{
        width: 400px;
        margin-left: 20px;
    }
}

@media (max-width: 500px){
    .bnt{
        align-items: center;
    }
    
    .bnt img{
        width: 128px;
        height: 37px;
        margin-right: 50px;
    }
    .apresenta{
        flex-wrap: wrap;
    }

    .apresenta h1{
        margin-top: -250px;
        margin-left: -50%;
        font-size: 28px;
    }

    .apresenta img{
        margin-top: 100px;
        width: 148px;
        height: 198px;
    }

    .total{
        display: block;
    }
    
    .total hr{
        display: none;
    }

    .contato{
        width: 300px;
        height: 300px;
        margin-top: -250px;
        margin-left: 180px;
        display: flex;
        justify-content: flex-end;
    }
    
    .svg{
        width: 40px;
        height: 310px;
    }
    .svg img{
        width: 20px;
        height: 20px;

    }
    
    .info{
        font-size: 12px;
    }
    
    .info p{
        margin-top: 44px;
        margin-left: -15px;
    }

    .link{
        position: relative;
        margin-left: 100px;
        
    }
    .link3{
        position: relative;
        top: -64px;
        left: 50px;
    }
    
    
    .link2, .troca{
        display: none;
    }

    .sobre{
        display: none;
    }
    .q{
        display: none;
    }
    .coluna1{
        height: 250px;
        width: 250px;
        justify-content: flex-start;
    }


    /* coluna2  */
    .obj{
        
        justify-content: center;
        width: 280px;
    }
    
    .obj h1{
        font-size: 17px;
    }

    .forma{
        height: 200px;
        width: 250px;
        justify-content: flex-start;
       
    }

    .forma h1{
        justify-content: center;
        font-size: 18px;
    }
    .forma p{
        justify-content: flex-start;
        font-size: 18px;
    }

    .expe{
        width: 250px;
        justify-content: flex-start;
    }

    .expe h1{
        justify-content: center;
        font-size: 18px;
    }
    .expe p{
        justify-content: flex-start;
        font-size: 18px;
    }

    .soft{
        width: 200px;
        justify-content: flex-start;
    }

    .soft h1{
        justify-content: center;
        font-size: 18px;
    }
    .soft p{
        justify-content: flex-start;
        font-size: 18px;
    }

    .hard{
        width: 250px;
        justify-content: flex-start;
    }

    .hard h1{
        margin-top: 80px;
        justify-content: center;
        font-size: 18px;
    }

    .hard p{
        justify-content: center;
        font-size: 18px;
    }

    .figma{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 300px;
    }
    .figma p{
        margin-left: 40px;
        font-size: 18px;
    }

    .photo{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 300px;
    }
    .photo p{
        margin-left: 40px;
        font-size: 18px;
    }

    .html{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 300px;
    }
    .html p{
        margin-left: 40px;
        font-size: 18px;
    }

    .css{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 300px;
    }
    .css p{
        margin-left: 40px;
        font-size: 18px;
    }

    .javascript{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 300px;
    }
    .javascript p{
        margin-left: 40px;
        font-size: 18px;
    }
    .hard .none{
        display: none;
    }

    

    
}
